[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
beancount = "*"
fava = "*"
pandas = "*"
xlrd = "*"
openpyxl = "*"
dacite = "*"
lxml = "*"
html5lib = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
black = "*"
autopep8 = "*"

[pipenv]
allow_prereleases = true
