[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beancount = "*"
fava = "*"
pandas = "*"
xlrd = "*"
openpyxl = "*"
flake8 = "*"
black = "*"
camelot-py = {extras = ["base"], version = "*"}
dacite = "*"
lxml = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
black = "*"
autopep8 = "*"
matplotlib = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
