[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beancount = "*"
fava = "*"
pandas = "*"
xlrd = "*"
openpyxl = "*"
camelot-py = {extras = ["base"], version = "*"}

[dev-packages]
flake8 = "*"
pytest = "*"
black = "*"

[requires]
python_version = "3.9"
